.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  max-width: 80rem;
  margin-inline: auto;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem 1rem;
}
