.countries-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}
/*#region - start of - extra large (1200px) devices */
@media screen and (min-width: 1200px) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2 rem;
    padding: 1.5rem;
  }
}
/*#endregion - end of - extra large (1200px) devices */
